.center {
  text-align: center;
}

p {
  margin: 0;
}

.align-center {
  text-align: center;
}
.larger-font {
  font-size: 1.5em;
}

.severity-0 {
  color: rgb(0, 172, 0);
}
.severity-1 {
  color: rgb(255, 166, 0);
}
.severity-2 {
  color: rgb(255, 68, 0);
}

.status-icon {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  margin-bottom: 0.3em;
}
