h1 {
  text-align: center;
  font-size: 1.5em;
}

.fixed-bg {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    flex: 0 0 600px;
    width: 600px;
    height: 600px;
    display: flex;
    img {
      margin: auto;
    }
  }
}

:host::ng-deep {
  .swiper {
    overflow: initial;
    margin-bottom: calc(1em + 10px);
  }
  .swiper-wrapper {
    overflow: hidden;
    width: 600px;
    height: 600px;
  }
  .swiper-slide img {
    width: 100%;
  }
  .swiper-pagination {
    top: 100%;
    margin-top: 10px;
    bottom: auto;
  }
  .swiper-button-prev {
    left: auto;
    right: 100%;
    margin-right: 0.5em;
  }
  .swiper-button-next {
    left: 100%;
    margin-left: 0.5em;
    right: auto;
  }
}

.actions {
  margin-top: 2em;
}
