<div class="fixed-bg">
  <div>
    <img src="assets/images/reaper.png">
  </div>
  <div></div>
  <div>
    <img src="assets/images/reaper.png">
  </div>
</div>
<main>
  <h1>심장마비를 예방하려면?</h1>
  <swiper
    [navigation]="true"
    [pagination]="{
      type: 'fraction'
    }"
    [grabCursor]="true"
    [effect]="'creative'"
    [creativeEffect]="{
      prev: {
        shadow: true,
        translate: ['-20%', 0, -1]
      },
      next: {
        translate: ['100%', 0, 0]
      }
    }"
  >
    <ng-template
      *ngFor="let src of assetSrcs"
      class="slide"
      swiperSlide
    >
      <img [src]="src">
    </ng-template>
  </swiper>
  <section class="actions">
    <a routerLink="/" class="action">
      <i class="fas fa-undo-alt"></i>
      <span>첫화면으로</span>
    </a>
  </section>
</main>
